<h2>Filter product by</h2>
<label for=""><b>Brand</b></label>
<br>
<input (click)="sort(sm.value)" #sm type="radio" name="mb" id="sam" value="Samsung" > <label for="sam">Samsung</label>
<br>
<input (click)="sort(rd.value)" #rd type="radio" name="mb" id="red" value="Redmi"  > <label for="red">Redmi</label>
<br>
<input (click)="sort(op.value)" #op type="radio" name="mb" id="op" value="OnePlus"  > <label for="op">OnePlus</label>
<br>
<input (click)="sort(ip.value)" #ip type="radio" name="mb" id="ap" value="Apple">  <label for="ap">Iphone</label>
<br>
<input (click)="sort(al.value)" #al type="radio" name="mb" id="all" value="All" checked="checked"><label for="all">All</label>
<br>